.box{
    border: 1px solid red;
    text-align: center;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 12px grey;
    /* padding-left: 50px; */
    margin-left: 350px;
    margin-top: 120px;
    border-radius: 10px;
}
.text1{
    text-decoration: none;
    color: red;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text2{
    color: red;
    text-decoration:line-through ;
    font-weight: bolder;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container{
    display: inline-flex;
    float:left;
    /* width: 700px; */
    justify-content: space-between;
}
.box3{
    border: 1px solid red;
    text-align: center;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 12px grey;
    /* padding-left: 50px; */
    margin-left: 60px;
    margin-top: 120px;
    border-radius: 10px;
}
.box4{
    border: 1px solid red;
    text-align: center;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 12px grey;
    /* padding-left: 50px; */
    margin-left: 60px;
    margin-top: 120px;
    border-radius: 10px;
}
.container2{
    display: inline-flex;
   position: absolute;
   top: 60px;
   left: 360px;
}
.task2{
    margin-left: 390px;
    color: grey;
    font-size:30px ;
    top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.task3{
    color: grey;
}
.task1{
    /* margin-left: 420px; */
    /* color: grey; */
    font-size:40px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: red;
    text-decoration: none;
}
.ask3{
    color: grey;

}
.plus{
    font-size: 35px;
    color:red;
    position: absolute;
    left: 530px;
}